depthai==2.30.0.0
dt_apriltags==3.1.7
flake8
numpy==1.21.5
opencv_contrib_python==4.10.0.84
pyserial==3.5
pytest
requests==2.32.5
json ; python_version < "3.10"
simplejson ; python_version >= "3.10"
roarm-sdk==0.1.1
